[submodule "usrsctp"]
	path = usrsctp
	url = https://github.com/sctplab/usrsctp
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "examples/websocket_client/cpslib"]
  path = examples/websocket_client/cpslib
	url = https://github.com/hamon-in/cpslib
